
.soundKeyContainer{
    display: flex;
}

.soundKey{
    font-family: 'system-ui';
    width: 100px;
    height: 100px;
    background-color:bisque;
    text-justify: center;
    text-align: center;
    margin: 10px;
}

.recordingSection{
    text-align: center;
    padding: 10px;;
}

.tracks
{
    display: flex;
    justify-content: center;
}

.tracks button
{
    margin: 10px;
}

.playSection{
    text-align: center;
    justify-content: center;
    padding:10px;
}
